
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">  
<head>
	<title>Home</title>
	<div layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/form.css}">
    </div>
</head>
<body>
	<section layout:fragment="content">
	    <h1 th:text="${#lists.isEmpty(user.id) ? 'Novo Usuário' : 'Editar Usuário'}">Usuário</h1>
	
	    <form th:action="@{/admin/users/save}" th:object="${user}" method="post">
	        <input type="hidden" th:field="*{id}" />
	
	        <div>
	            <label for="name">Nome:</label>
	            <input type="text" id="name" th:field="*{name}" required>
	        </div>
	
	        <div>
	            <label for="email">Email:</label>
	            <input type="email" id="email" th:field="*{email}" required>
	        </div>
	
	        <div>
	            <label for="cpf">CPF:</label>
	            <input type="text" id="cpf" th:field="*{cpf}" required>
	        </div>
			
			<div>
			    <label>Perfis (roles):</label>
				<div id="checkbox-roles">
				    <div class="checkbox-group" th:each="role : ${allRoles}">
				        <label class="checkbox-label">
				            <input type="checkbox" name="roles" th:value="${role.name}" 
				                   th:checked="${#lists.contains(user.roles, role.name)}" />
				            <span th:text="${roleNames[role.name]} ?: ${role.name}">ROLE_NAME</span>
				        </label>
				    </div>
				</div>
			</div>
			
	        <div>
	            <label for="password">Senha:</label>
				<input type="password" th:field="*{password}" placeholder="Deixe em branco para manter" />
	        </div>
	
	        <div style="margin-top: 15px;">
	            <button type="submit" class="btn-form">Salvar</button>
	            <a th:href="@{/admin/users}" class="btn-form danger">Cancelar</a>
	        </div>
	    </form>
</section>
</body>
</html>
