<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
	<title>User List</title>
	<div layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/user-list.css}">
    </div>
</head>
<body>
    <section layout:fragment="content">
        <h1>Usuários Cadastrados</h1>

        <a class="btn-newUser" th:href="@{/admin/users/create}">Novo Usuário</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}">Nome</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.cpf}">CPF</td>
                    <td>
                        <a th:href="@{'/admin/users/edit/' + ${user.id}}" class="btn small">Editar</a>
                        <form 
							th:action="@{'/admin/users/delete/' + ${user.id}}" 
							method="post" style="display:inline">
                            <button type="submit" class="btn small danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>
